<a href="https://colab.research.google.com/github/zawztun/Boiler-plate-test/blob/master/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from pandas.core.frame import DataFrame
DataFrame
import numpy as np
amz = pd.read_csv("./amazon_prime_titles.csv")
amz

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [ ]:
row, col = amz.shape
col

12

In [ ]:
row

9668

In [ ]:
amz.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [10]:
amz.tail(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [ ]:
#row#2 to 5 / amx[2:5] // 2 to 4 print not including 5

In [ ]:
amz[2:5]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [11]:
amz.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [17]:
amz.country

0               Canada
1                India
2        United States
3        United States
4       United Kingdom
             ...
9663               NaN
9664               NaN
9665               NaN
9666               NaN
9667               NaN
Name: country, Length: 9668, dtype: object

In [13]:
amz[['type', 'country', 'listed_in']]

         type         country                listed_in
0       Movie          Canada            Comedy, Drama
1       Movie           India     Drama, International
2       Movie   United States  Action, Drama, Suspense
3       Movie   United States              Documentary
4       Movie  United Kingdom           Drama, Fantasy
...       ...             ...                      ...
9663    Movie             NaN                   Comedy
9664  TV Show             NaN                 TV Shows
9665    Movie             NaN                   Action
9666  TV Show             NaN            Drama, Sports
9667    Movie             NaN  Action, Drama, Suspense

[9668 rows x 3 columns]

In [34]:
#amz["release_year"] = pd.to_datetime(amz["release_year"])

In [35]:
amz["release_year"].min()

Timestamp('1970-01-01 00:00:00.000001920')

In [36]:
amz["release_year"].max()

Timestamp('1970-01-01 00:00:00.000002021')

In [27]:
# amz.groupby("country").count()["show id"].sort_values(ascending= False)
amz["country"].value_counts()

United States                            253
India                                    229
United Kingdom                            28
Canada                                    16
United Kingdom, United States             12
                                        ...
United States, Germany, Brazil, Italy      1
South Africa                               1
Australia, United States, Germany          1
Germany, Austria, United States            1
Italy, Spain                               1
Name: country, Length: 86, dtype: int64

In [25]:
# amz.groupby(["country"] count()[["show id"]].sort_values(ascending= False)

In [28]:
amz["date_added"]

0       March 30, 2021
1       March 30, 2021
2       March 30, 2021
3       March 30, 2021
4       March 30, 2021
             ...
9663               NaN
9664               NaN
9665               NaN
9666               NaN
9667               NaN
Name: date_added, Length: 9668, dtype: object

In [46]:
#3
# date_amz = amz.dropna(subset= ["date_added"]).copy()
# date_amz["year_added"] = date_amz["date_added"].str.split(" , " , expand = True)[1].astype(int)

In [48]:
#4
movie_amz = amz[amz["type"]=="Movie"].copy()
movie_amz[" runtime_minutes"] = movie_amz["duration"].str.split(expand= True)[0].astype(int)
movie_amz

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,runtime_minutes
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",1970-01-01 00:00:00.000002014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",1970-01-01 00:00:00.000002018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",1970-01-01 00:00:00.000002017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",1970-01-01 00:00:00.000002014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1970-01-01 00:00:00.000001989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9660,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,NaN,1970-01-01 00:00:00.000002021,13+,96 min,Comedy,The Man in the Hat journeys through France in ...,96
9662,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,NaN,1970-01-01 00:00:00.000002021,16+,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t...",93
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1970-01-01 00:00:00.000001940,7+,60 min,Comedy,New York City street principles get an East Si...,60
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,1970-01-01 00:00:00.000002008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",90
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,1970-01-01 00:00:00.000002010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",103

In [ ]:
movie_amz[" runtime_minutes"] = pd